[[plugins]]
repo = 'Shougo/neocomplete'
if = 'has("lua")'
on_i = 1

[[plugins]]
repo = 'Shougo/deoplete.nvim'
if = 'has("nvim")'
on_i = 1

[[plugins]]
repo = 'Shougo/neosnippet'
depends = ['neosnippet-snippets']
on_i = 1
on_ft = ['snippet']

[[plugins]]
repo = 'Shougo/neomru.vim'
on_path = '.*'

[[plugins]]
repo = 'Shougo/unite.vim'
depends = 'neomru.vim'

# Languages

[[plugins]]
repo = 'mxw/vim-jsx'
on_ft = ['javascript']

[[plugins]]
repo = 'pangloss/vim-javascript'
on_ft = ['javascript']

[[plugins]]
repo = 'elixir-lang/vim-elixir'
on_ft = ['elixir', 'eelixir']

# [[plugins]]
# repo = 'archSeer/elixir.nvim'
# on_ft = ['elixir', 'eelixir']

[[plugins]]
repo = 'rust-lang/rust.vim'
on_ft = ['rust']
rev = '2946a05c94c8ab8e047abdce3c775c48d734ee17'

[[plugins]]
repo = 'plasticboy/vim-markdown'
on_ft = ['markdown']

[[plugins]]
repo = 'jimenezrick/vimerl'
on_ft = ['erlang']

[[plugins]]
repo = 'fatih/vim-go'
on_ft = ['go']

[[plugins]]
repo = 'cespare/vim-toml'
on_ft = ['toml']

[[plugins]]
repo = 'avakhov/vim-yaml'
on_ft = ['yaml']

# Others
[[plugins]]
repo = 'thinca/vim-quickrun'
on_cmd = ['QuickRun']

[[plugins]]
repo = 'JamshedVesuna/vim-markdown-preview'
on_ft = ['markdown']

[[plugins]]
repo = 'airblade/vim-gitgutter'
on_cmd = ['GitGutterEnable', 'GitGutterToggle']
